<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center p-3">
                        <label for="Logo"><strong >E - AUCTION</strong></label>
                    </div>
                    <div class="d-flex col-lg-8 col-md-8 col-sm-12 col-12 justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center">
                        <label for="fetch-details" class="form-label">Fetch Details</label>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                        <label for="product" class="form-label">Product</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                        <select id="textSelect" class="select form-label col-12 sltht36" [(ngModel)]="selectedProduct">
                            <option value="0" selected="0">--None Selected--</option>
                            <option value="{{product.productId}}" *ngFor="let product of allProducts">{{product.productName}}</option>
                    </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                        <button type="button" class="btn btn-primary pd5 wd116" (click)="getSelectedProduct(selectedProduct)">GET</button>
                    </div>
                </div>
            </div>
            <div class="d-flex p-4"></div>
            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Product Name</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.productName" />{{sprod[0]}}
                            <label mdbLabel class="form-label" for="form1">Product Name</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column pt-4">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Short Description</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.shortDescription" />
                            <label mdbLabel class="form-label" for="form1">Short Description</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column pt-4">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Detailed Description</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.detailedDescription" />
                            <label mdbLabel class="form-label" for="form1">Detailed Description</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column pt-4">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Category</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.category" />
                            <label mdbLabel class="form-label" for="form1">Category</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column pt-4">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Starting Price</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.startingPrice" />
                            <label mdbLabel class="form-label" for="form1">Starting Price</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column pt-4">
                    <div class="d-flex col-lg-4 col-md-4 col-sm-12 col-12 ps-lg-3 ps-md-3">
                        <label for="prd-nm" class="form-label">Bid End Date</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <mdb-form-control class="col-lg-10 col-md-10">
                            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="sprod.bidEndDate" />
                            <label mdbLabel class="form-label" for="form1">Bid End Date</label>
                        </mdb-form-control>
                    </div>
                </div>
            </div>



            <div *ngIf="enableTable">

                <div class="container">
                    <div class="d-flex flex-row pt-4 justify-content-center">
                        <label for="bids" class="form-label"> <strong>BIDS</strong> </label>
                    </div>
                </div>

                <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Bid Amount
                            </th>
                            <th class="th-sm">Name
                            </th>
                            <th class="th-sm">Email
                            </th>
                            <th class="th-sm">Mobile
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let buyer of allBuyers | paginate:{itemsPerPage:3, currentPage:p}">
                            <td>$ {{buyer.bidAmount}}</td>
                            <td>{{buyer.firstName | titlecase}} {{buyer.lastName | titlecase}}</td>
                            <td>{{buyer.email | lowercase}}</td>
                            <td>{{buyer.phone}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination d-flex justify-content-md-end">
                    <pagination-controls (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>